* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background: var(--body-color);
}

:root {
  --body-color: #dcdcdc;
}

.swiper {
  position: relative;
  width: 1000px; 
}

.swiper-slide {
  width: 150px !important;  
  height: 200px !important; 
  overflow: hidden;
  border-radius: 10px;       
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;       
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000000 !important;
}


.swiper::before,
.swiper::after {
  content: "";
  position: absolute;
  left: -10%;
  width: 120%;
  height: 100px;
  background: var(--body-color);
  border-radius: 100%;
  z-index: 1000;
}

.swiper::before { top: -70px; }
.swiper::after  { bottom: -70px; }
